body {
  background-color: black;
}
.main-content {
  margin: 40px 90px;
  color: white !important;
  background-color: black;
  margin-top: 80px;
}
.detail {
  border-radius: 10px;
  margin-top: 50px;
  border: 1px solid white;
  padding: 30px;
}
